body{
    background-color: aquamarine;padding: 10%;margin: auto
}
div{
    background-color: white;margin-left: 100px;height: 250px;width: 400px;text-align: center;padding: 20px
}
button{
    border: 6px solid green;position: relative;top: 30px;width: 120px;height: 30px;background-color: dimgrey;color: white
}
p{
    position: relative;top: 50px
}
h3{
    position: relative;top: 50px
}